@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;800;900&display=swap');

$font-serif: 'Roboto Slab', serif;
$font-sans-serif: Helvetica, Arial, sans-serif;
$font-default: $font-serif;