.text-center {
  text-align: center;
}

.note {
  color: $blue-grey-500;
  font-size: .8em;
}

.visually-hide {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}